.number-box {
  display: inline-block;
  width: 25%;
  text-align: center;
  
  .number {
    color: #fff;
    font-family: 'Exo2', sans-serif;
    // font-size: 90px;
    font-weight: bold;
  }

  .text {
    padding: 20px 0;
    color: $steel;
    font-size: 1.2rem;
  }
}
