.dropdown {
  position: relative;

  &:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    position: absolute;
    left: -90px;
    z-index: 1;
    display: none;
    min-width: 250px;
    padding: 30px 0;

    .triangle-with-shadow {
      position: absolute;
      top: 0;
      left: 100px;
      z-index: 2;
      width: 30px;
      height: 30px;
      overflow: hidden;
    }

    .triangle-with-shadow:after {
      position: absolute;
      top: 21px;
      left: 4px;
      width: 20px;
      height: 20px;
      background: #fff;
      box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.32);
      transform: rotate(-45deg);
      content: '';
    }

    .content {
      position: relative;
      min-width: 350px;
      padding: 20px 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.32);
    }

    .content-wrapper {
      &:hover .link-title {
        margin-top: -20px;
      }

      &:hover .img-wrapper {
        filter: grayscale(0);
      }

      .img-wrapper {
        width: 24px;
        height: 37px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .link-info {
        height: 40px;
        margin: 0 22px;
        overflow: hidden;

        .link-title {
          padding-bottom: 5px;
          color: $dark;
          font-size: 17px;
          letter-spacing: 0.4px;
          transition: margin 0.4s ease;
        }

        .link-description {
          margin-bottom: 3px;
          color: #798189;
          font-size: 12px;
          letter-spacing: 0.3px;
          line-height: 1.42;
        }

        .learn-more {
          color: #5a96e5;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.3px;
          line-height: 1.42;
        }
      }
    }

    a {
      display: flex;
      padding: 10px;
      color: $dark;
      text-decoration: none;
    }
  }
}
