.number-box {
  display: inline-block;
  width: 200px;
  text-align: center;
  
  .number {
    color: $purple-primary;
    font-size: 4rem;
    font-weight: 700;
  }

  .text {
    padding: 20px 0;
    color: $gray-slate-secondary;
    font-size: 1.2rem;
  }
}
