.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 87px;
  padding: 25px;
  background-color: #fff;
  align-items: center;
  box-sizing: border-box;
  
  &.fixed {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  
  .nav-item {
    color: $dark;
    font-size: 0.9em;
    font-weight: 500;
    background-image: none;
    cursor: pointer;

    &:hover {
      color: $gray-slate-secondary;
    }

    .logo {
      width: 200px;
      margin: 0;
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 25px;
  }
}
