.home-articles {
  margin: 0 auto;
}

.title {
  width: 620px;
  margin: 40px auto;
  color: $dark;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.articles {
  display: flex;
  flex-wrap: wrap;

  .article-box {
    display: inline-block;
    width: 45%;
    padding: 15px;
    margin: 15px 0;
    color: $gray-slate-secondary;

    .article-icon {
      float: left;
      width: 67px;
      height: 70px;
      margin: 20px 60px;
      border: 1px solid gray;
    }

    .article-title {
      margin-bottom: 15px;
      color: $dark;
      font-size: 26px;
      font-weight: 700;
    }

    .content {
      font-size: 15px;
    }
  }
}
