@import "../../styles/common/styles";

.dropdown {
  position: relative;
  display: inline-block;

  .nav-item {
    border: none;
    background-color: white;
  }

  .dropdown-content {
    position: absolute;
    left: -90px;
    display: none;
    min-width: 250px;
    padding: 40px 0;
    z-index: 1;

    .transp {
      position: absolute;
      display: block;
      min-width: 250px;
      padding: 30px 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.32);
    }

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #e6e3e3;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}
