.button {
  position: relative;
  height: 45px;
  margin: 0 5px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  outline: none;
  background: none;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:after,
  &:active:after {
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }

  &.hidden {
    visibility: hidden;
  }

  &.appear {
    transform: translate3d(-150px, 0px, 0px);
    transform-style: preserve-3d;
    will-change: transform;
  }

  &.filled {
    color: white;
    background-color: $purple-primary;
    border-color: $purple-primary;

    &:hover {
      background-color: #230d4f;
    }

    &:disabled {
      opacity: 0.5;
      background-color: #7c68a8;
    }
  }

  &.outlined {
    color: $purple-primary;
    border-color: $purple-primary;

    &:hover,
    &:active {
      color: white;

      &:after {
        background-color: $purple-primary;
      }
    }
  }
}
