.calcatron{
  background-image: url('../../assets/icons/icon-calcatron.svg');
  filter: grayscale(100%);
}

.market{
  background-image: url('../../assets/icons/icon-market.svg');
  filter: grayscale(100%);
}

.carrier{
  background-image: url('../../assets/icons/icon-carrier.svg');
  filter: grayscale(100%);
}

.shipper{
  background-image: url('../../assets/icons/icon-shipper.svg');
  filter: grayscale(100%);
}

.driver{
  background-image: url('../../assets/icons/icon-driver.svg');
  filter: grayscale(100%);
}

// .driver{
//   background-image: url('../../assets/icons/icon-driver.svg');
//   filter: grayscale(100%);
// }

// .driver{
//   background-image: url('../../assets/icons/icon-driver.svg');
//   filter: grayscale(100%);
// }

// .about{
//   background-image: url('../../assets/icons/icon-about.svg');
//   filter: grayscale(100%);
// }

// .prices{
//   background-image: url('../../assets/icons/icon-prices.svg');
//   filter: grayscale(100%);
// }

// .careers{
//   background-image: url('../../assets/icons/icon-careers.svg');
//   filter: grayscale(100%);
// }

// .contact{
//   background-image: url('../../assets/icons/icon-contact.svg');
//   filter: grayscale(100%);
// }
