$purple-primary: #3c117f;
$light-blue-info: #0ac0ff;
$aqua: #12d7b1;
$green-success: #92d32a;
$orange-danger: #ff582c;
$orange-light-warning: #fcce07;
$dark: #242f35;
$snow: #f9fdfd;
$gray-slate-secondary: #888888;
$gray: #a1a1a1;
$steel: #ced3d4;
$pale: #eceff2;
