@import "../../styles/common/styles";

.title {
  width: 620px;
  margin: 0 auto 40px;
  color: $dark;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.articles {
  display: flex;
  align-items: baseline;

  .article-box {
    display: inline-block;
    width: 25%;
    padding: 15px;
    color: $gray-slate-secondary;

    .article-title {
      margin-bottom: 15px;
      color: $dark;
      font-size: 20px;
      font-weight: 700;
    }

    .content {
      font-size: 15px;
    }
  }
}
