@import '../../styles/common/styles';

.blog-card {
  margin: 20px;
  width: 33%;
  border-radius: 10px;
  box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.35);

  .blog-img {
    width: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .info-box {
    padding: 0 30px 40px;

    p {
      margin: 15px 0;
      color: $gray;
    }

    .blog-title {
      margin: 0;
      font-size: 25px;
      font-weight: 700;
    }

    .blog-content {
      margin-bottom: 30px;
    }

    .blog-link {
      color: $light-blue-info;
      font-size: 1.1em;
      font-weight: bold;
      background-image: none;

      .arrow {
        transition: margin 0.3s ease;
      }

      &:hover {
        color: #0ac0ff;

        .arrow {
          margin-left: 5px;
        }
      }
    }
  }
}
